/JavaApps_2/nbproject/private/
/JavaApps_2/build/
/JavaApp_3/nbproject/private/
/JavaApp_3/build/
/SelectionSort/nbproject/private/
/SelectionSort/build/
/Latihan1/nbproject/private/
/Latihan1/build/
/OperatorBitwise/nbproject/private/
/OperatorBitwise/build/
/JavaApp_4/nbproject/private/
/JavaApp_4/build/
/JavaApp_5/nbproject/private/
/JavaApp_5/build/
/JavaApps_6/nbproject/private/
/JavaApps_6/build/
/LatihanSwitch/nbproject/private/
/LatihanSwitch/build/
